body {
  background-color: antiquewhite;
  font-family: 'roboto', 'arial';
}

.container {
  position: absolute;
  width: 800px;
  height: 600px;
  background-color: aliceblue;
  align-items: center;
}

ul {
  list-style: none;
}

.keyword-box {
  width: 80px;
  height: 40px;
  border: solid 2px #1183e9ff;
  display : flex;
  justify-content : center;
  align-items : center;
  text-align: center;
  float: left;
  border-radius: 10px;
  position: relative;
  /* cursor:pointer; */
}

.hyperspan {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:1;
}

.keyword-submit {
  display: none;
}
