body {
  background-color: antiquewhite;
  font-family: 'roboto', 'arial';
}

.container {
  position: absolute;
  width: 830px;
  height: 600px;
  background-color: aliceblue;
  align-items: center;
}

ul {
  list-style: none;
}

.keyword-box {
  width: 80px;
  height: 40px;
  border: solid 1px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  float: left;
}
