body {
  background-color: antiquewhite;
  font-family: 'roboto', 'arial';
}

.container {
  position: absolute;
  width: 800px;
  height: 600px;
  background-color: aliceblue;
  align-items: center;
}

ul {
  list-style: none;
}

.keyword-box {
  width: 80px;
  height: 40px;
  border: solid 2px #1183e9ff;
  display : flex;
  justify-content : center;
  align-items : center;
  float: left;
  border-radius: 10px;
  position: relative;
}

.keyword-submit {
  display: none;
}
