{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
  <form action="{% url 'document-index' doc_id %}" method="get" id="keyword-generator">
    <input type="text" name="keyword_input" class="keyword-input" autofocus>
    <input type="submit" value="생성" class="keyword-submit">
  </form>
  <div id="container" class="container">
    {% for keyword in keywords %}
    <div class="keyword-box">
      {{keyword}}
    </div>
    {% endfor %}
  </div>
  {{ doc_id|json_script:"doc-id" }}
  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
